.Rhistory

/nimble/.RDataTmp

/nimble/project_correlatedStages/mcmc


/nimble/project_culicoides/fig_transient
/nimble/project_culicoides/figures

/nimble/project_culicoides/mcmcOutput4plots

/nimble/project_culicoides/egg/mcmc
/nimble/project_culicoides/egg/figures

/nimble/project_culicoides/gonotrophicCycle/mcmc
/nimble/project_culicoides/gonotrophicCycle/figures

/nimble/project_culicoides/larvae-pupae/mcmc
/nimble/project_culicoides/larvae-pupae/figures

*.csv
*.tar
*.tar.gz
*.Rdata
*.png
*.pdf
*.RDataTmp

!InsectariumData.Rdata

/nimble/project_culicoides/egg/mcmc/*/eggDataConstantsInitial.R

